body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(circle,white 10%, black 98%);
}
.faixa{
    width: 100%;
    height: 50px;
    background: red;
    border-top:10px solid black;
    border-bottom:10px solid black;
}
.texto{
    padding-left: 400px;
    padding-right: 400px;
    text-align: center;
    font-size: medium;
}
.categorias{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-right: 20px;
    font-size: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    

}
#sobreMim{
    font-size: 40px;
    text-align: center;
}
