*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://rocketleague.media.zestyio.com/rl_platform_keyart_2019.jpg?width=1920&fit=bounds.jpg');
    background-attachment: fixed;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2{
    background: white;
    width: 75%;
    height: 2000px;
    margin-top: 7%;
}
.container3{
    display: flex;
    position: absolute;
    justify-content: start;
}
.text1{
    font-family: 'Climate Crisis', cursive;
    font-size: 5rem;
    color: white;
    text-shadow: 4px 4px 4px black;
    animation: mudar 1.5s infinite;
}
@keyframes mudar{
    0%{
        text-shadow: 5px 5px 5px black;
    }
    50%{
        text-shadow: 5px 5px 5px skyblue;
    }
    100%{
        text-shadow: 5px 5px 5px black;
    }


}
