*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
form{
    min-width: 80vw;
    min-height: 80vh;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    padding: 2rem;
    gap: 1rem;
}
.round{
    display: flex;
    gap: 1.5rem;
}
.boxResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    padding: 2rem;
    gap: 1rem;
}